.tintedImg {
	height: 200px;
	filter:brightness(50%); 
}

.loader {
	transform: translate(-8px, -120px);
}

.loaderDot {
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 100%;
	position: absolute;
	background-color: #d4d912
}

.up {
	transform: translate(0, -23px);
  	animation: changeColor infinite 2s ease-in-out;
}

.down {
	transform: translate(0, 23px);
  	animation: changeColor infinite 2s ease-in-out;
    animation-delay: 1s;
}

.left {
	transform: translate(-23px, 0);
  	animation: changeColor infinite 2s ease-in-out;
    animation-delay: 0.5s;
}

.right {
	transform: translate(23px, 0);
  	animation: changeColor infinite 2s ease-in-out;
    animation-delay: 1.5s;
}

@keyframes changeColor {
	from { filter:brightness(90%) }
	to { filter:brightness(140%) }
}