.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  text-align: center;
  height: 35px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 0.5px solid #eee;
}
