.materialDisplayRowContainer {
	display: flex;
	width: 260px;
	margin: auto;
	margin-bottom: 30px;
}

.materialDisplay {
	height: 100px;
	width: 100px;
	margin-left: 15px;
}

.tweed {
	background-image: url('./images/Tweed.png');
}

.marble {
	background-image: url('./images/Marble.png')
}

.wood {
	background-image: url('./images/Wood.png')
}

.metal {
	background-image: url('./images/Metal.png')
}

.materialTitle {
	margin-top: 42px;
	font-size: 20px;
	color: #404041;
}