.main {
  	padding-top: 160px;
  	text-align: center;
}

.img {
	height: 200px;
}

.container {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

.uploadPhotoPageText {
	margin-left: 8px;
	font-size: 30px;
	text-align: left;
    line-height: 50%;
    color: #2f3f50;
}

input {
	background-color: white;
	border-radius: 3px;
	color: #bdc3c7;
	width: 120px;
	font-size: 13px;
	font-weight: lighter;
	text-align: center;
	margin: 10px;
	border: 3px solid #bdc3c7;

}

.upload {
	height: 44px;
}

.zipCode {
	height: 36px;

}

h3 {
  	padding-top: 50px;
	color: #ccc;
	font-weight: lighter;
    font-style: italic;
}

.popupBackground {
	background-color: rgba(0, 0, 0, 0.4);
	top: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
}

.popupwrap {
	width: 100%;
	position: absolute;
	z-index: 1;
	left: 0;

	text-align: center;
	top: 180px;
}

.popupContainer {
	height: 360px;
	width: 480px;	
	display: table;
	margin: auto;
}

.popup {
	background-color: white;
	vertical-align: middle;
	display: table-cell;
}

.popupText {
	font-size: 20px;
	font-weight: lighter;
}

.selectPhotoBtn {
	background-color: black;
	color: white;
	border:  0px;
	height: 40px;
	border-radius: 0;
}
